<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- favicon 설정 -->
<link rel="icon" href="http://localhost/html_prj/common/images/favicon.ico">
<!-- bootstrap CDN -->
<link rel="stylesheet" type="text/css"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
<style type="text/css">

</style>
</head>
<body>

<div th:fragment="login(id, name)">

<div>
<span th:text="|${}(${ name })|"></span>
</div>

</div><!-- th:fragment -->


<!-- jquery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
$(function() {

});

</script>
</body>
</html>